.links{
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
    background-color: #fff!important;
    color: #000;
    padding: 10px 0 10px 10px!important;
    transition: 0.2s padding ease-out;
}
ol, ul {
    padding-left: 0!important;
}